In [1]:
import pandas as pd
import ast

In [20]:
data = pd.read_csv('data.csv')

In [21]:
data.head()

,_type,_id,_score,_source
0,movies,97,20.848059,"{'cast': ['Jeff Bridges', 'Bruce Boxleitner', ..."
1,movies,507,10.478757,"{'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-..."
2,movies,811,9.831051,"{'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri..."
3,tvshows,25222,9.288745,"{'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle..."
4,movies,757,9.140831,"{'cast': ['Margaret Rutherford', 'Ron Moody', ..."

In [4]:
data.columns

Index(['_type', '_id', '_score', '_source'], dtype='object')

In [22]:
activity_data = pd.read_csv('activity_data.csv')

In [23]:
activity_data.head()

,media_type,watched,rating,watchlist,profile_id,id,hide
0,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '744_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
1,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '3'}, 'timestamp': {'S':...","{'M': {'value': {'NULL': True}, 'timestamp': {...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '820_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
2,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '402_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
3,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '3'}, 'timestamp': {'S':...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '87_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
4,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '810_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."

In [6]:
activity_data.describe()

,media_type,watched,rating,watchlist,profile_id,id,hide
count,5,5,5,5,5,5,5
unique,1,1,3,5,1,5,1
top,{'S': 'movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'NULL': True}, 'timestamp': {...","{'M': {'value': {'S': '0'}, 'timestamp': {'S':...",{'S': 'b1d89c45-ed9b-4a0e-8d78-28e628c2fb8c'},{'S': '744_movies'},"{'M': {'value': {'NULL': True}, 'timestamp': {..."
freq,5,5,3,1,5,1,5

In [7]:
activity_data.columns

Index(['media_type', 'watched', 'rating', 'watchlist', 'profile_id', 'id',
       'hide'],
      dtype='object')

In [9]:
print(activity_data['rating'][0])

{'M': {'value': {'NULL': True}, 'timestamp': {'NULL': True}}}

In [10]:
a = []
for i in range(47):
    res = ast.literal_eval(data['_source'][i])
    res.update({'rating': 'nan', 'hide': 'nan', 'watchlist': 'nan', 'watched': 'nan'})
    b = str(res)
    a.append(b)

In [11]:
my_df = pd.DataFrame(a,columns=['_source'])

In [13]:
my_df

                                             _source
0  {'cast': ['Jeff Bridges', 'Bruce Boxleitner', ...
1  {'cast': ['Eric Stoltz', 'Julie Delpy', 'Jean-...
2  {'cast': ['Bruce Dern', 'Cliff Potts', 'Ron Ri...
3  {'cast': ['Ron Rifkin', 'Eddie Barth', 'Charle...
4  {'cast': ['Margaret Rutherford', 'Ron Moody', ...

In [15]:
d = ast.literal_eval(activity_data['rating'][0])